<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Image Processing</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion " id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">PeCeDE</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item ">
                <a class="nav-link collapsed" href="/">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Home</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider mt-2">

            <!-- General Menus -->
            <div class="sidebar-heading fs-10">
                General
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" data-target="#collapseUtilities">
                    <form id="" action="{{ url_for('normal') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-outline-light btn-block mb-2">Normal</button>
                    </form>   
                    <form id="" action="{{ url_for('grayscale') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-outline-light btn-block mb-2">Grayscale</button>
                    </form>
                    <form id="" action="{{ url_for('zoomin') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-outline-light btn-block mb-2">Zoom In</button>
                    </form>
                    <form id="" action="{{ url_for('zoomout') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-outline-light btn-block mb-2">Zoom Out</button>
                    </form>  
                </a>
            </li>      
            
            <!-- Divider -->
            <hr class="sidebar-divider mt-3">

            <!-- Movement Menus -->
            <div class="sidebar-heading fs-10">
                Movement
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" data-target="#collapseUtilities">
                    <form id="" action="{{ url_for('move_left') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-outline-light btn-block mb-2">Move Left</button>
                    </form>
                    <form id="" action="{{ url_for('move_right') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-outline-light btn-block mb-2">Move Right</button>
                    </form>
                    <form id="" action="{{ url_for('move_up') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-outline-light btn-block mb-2">Move Up</button>
                    </form>
                    <form id="" action="{{ url_for('move_down') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-outline-light btn-block mb-2">Move Down</button>
                    </form>                     
                </a>
            </li>   

            <!-- Divider -->
            <hr class="sidebar-divider mt-3">

            <!-- Brightness Menus -->
            <div class="sidebar-heading fs-10">
                Brightness
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" data-target="#collapseUtilities">
                    <form id="" action="{{ url_for('brightness_multiplication') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-outline-light btn-block mb-2">Lighter (*)</button>
                    </form>
                    <form id="" action="{{ url_for('brightness_division') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-outline-light btn-block mb-2">Darker (/)</button>
                    </form>
                    <form id="" action="{{ url_for('brightness_addition') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-outline-light btn-block mb-2">Lighter (+)</button>
                    </form>
                    <form id="" action="{{ url_for('brightness_substraction') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-outline-light btn-block mb-2">Darker (-)</button>
                    </form>                  
                </a>
            </li>  

            <!-- Divider -->
            <hr class="sidebar-divider mt-3">

            <!-- Image Filter Menus -->
            <div class="sidebar-heading fs-10">
                Image Filter - 1
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" data-target="#collapseUtilities">
                    <form id="" action="{{ url_for('edge_detection') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-outline-light btn-block mb-2">Edge Detection</button>
                    </form>
                    <form id="" action="{{ url_for('blur') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-outline-light btn-block mb-2">Blur</button>
                    </form>
                    <form id="" action="{{ url_for('sharpening') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-outline-light btn-block mb-2">Sharpening</button>
                    </form>
                    <form id="" action="{{ url_for('histogram_equalizer') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-outline-light btn-block mb-2">Histogram Equalizer</button>
                    </form>                  
                </a>
            </li>  

            <!-- Divider -->
            <hr class="sidebar-divider mt-3">

            <!-- Identity Kernel Menu -->
            <div class="sidebar-heading fs-10">
                Identity Kernel
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" data-target="#collapseUtilities">
                    <form id="" action="{{ url_for('identity_kernel') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-outline-light btn-block mb-2">Identity Kernel</button>
                    </form>                
                </a>
            </li>  

            <!-- Divider -->
            <hr class="sidebar-divider mt-3">

            <!-- Brightness Menus -->
            <div class="sidebar-heading fs-10">
                Image Filter - 2
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" data-target="#collapseUtilities">
                    <form action="{{ url_for('lowpass_blur') }}" method="POST" enctype="multipart/form-data">
                        <input class="form-control" type="number" id="kernel" name="kernel" placeholder="Custom Kernel" required>
                        <button type="submit" class="btn btn-outline-light btn-block mb-3 mt-1">Lowpass Filter</button>
                    </form>
                    <form action="{{ url_for('highpass') }}" method="POST" enctype="multipart/form-data">
                        <input class="form-control" type="number" id="kernel" name="kernel" placeholder="Custom Kernel" required>
                        <button type="submit" class="btn btn-outline-light btn-block mb-3 mt-1">Highpass Filter</button>
                    </form>
                    <form action="{{ url_for('bandpass') }}" method="POST" enctype="multipart/form-data">
                        <input class="form-control" type="number" id="kernel" name="kernel" placeholder="Custom Kernel" required>
                        <button type="submit" class="btn btn-outline-light btn-block mb-3 mt-1">Bandpass Filter</button>
                    </form>
                    <form action="{{ url_for('gaussian_blur') }}" method="POST" enctype="multipart/form-data">
                        <input class="form-control" type="number" id="kernel" name="kernel" placeholder="Custom Kernel" required>
                        <button type="submit" class="btn btn-outline-light btn-block mb-3 mt-1">Gaussian Filter</button>
                    </form>
                    <form action="{{ url_for('median_blur') }}" method="POST" enctype="multipart/form-data">
                        <input class="form-control" type="number" id="kernel" name="kernel" placeholder="Custom Kernel" required>
                        <button type="submit" class="btn btn-outline-light btn-block mb-3 mt-1">Median Filter</button>
                    </form> 
                    <form action="{{ url_for('bilateral') }}" method="POST" enctype="multipart/form-data">
                        <input class="form-control" type="number" id="kernel" name="kernel" placeholder="Custom Kernel" required>
                        <button type="submit" class="btn btn-outline-light btn-block mb-3 mt-1">Bilateral Filter</button>
                    </form>
                    <form action="{{ url_for('zero_padding') }}" method="POST" enctype="multipart/form-data">
                        <input class="form-control" type="number" id="padding" name="padding" placeholder="Custom Padding" required>
                        <button type="submit" class="btn btn-outline-light btn-block mb-3 mt-1">Zero Padding</button>
                    </form>                
                </a>
            </li> 
            
            <!-- Divider -->
            <hr class="sidebar-divider mt-3">

            <!-- Brightness Menus -->
            <div class="sidebar-heading fs-10">
                Puzzle
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" data-target="#collapseUtilities">
                    <form action="{{ url_for('puzzle') }}" method="POST" enctype="multipart/form-data">
                        <input class="form-control" type="number" id="nilai_fixed" name="nilai_fixed" placeholder="Puzzle Piece" required>
                        <button type="submit" class="btn btn-outline-light btn-block mb-3 mt-1">Make Puzzle</button>
                    </form>
                    <form action="{{ url_for('random_puzzle') }}" method="POST" enctype="multipart/form-data">
                        <input class="form-control" type="number" id="nilai_random" name="nilai_random" placeholder="Random Puzzle Piece" required>
                        <button type="submit" class="btn btn-outline-light btn-block mb-3 mt-1">Make Puzzle</button>
                    </form>    
                </a>
            </li>  

            <!-- Divider -->
            <hr class="sidebar-divider mt-3">

            <!-- Segmentation Menu -->
            <div class="sidebar-heading fs-10">
                Segmentation
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" data-target="#collapseUtilities">
                    <form action="{{ url_for('thresholding') }}" method="POST" enctype="multipart/form-data">
                        <input class="form-control" type="number" id="lower_thres" name="lower_thres" placeholder="Batas Bawah : 0-255" required>
                        <input class="form-control mt-1" type="number" id="upper_thres" name="upper_thres" placeholder="Batas Atas : 0-255" required>
                        <button type="submit" class="btn btn-outline-light btn-block mb-3 mt-1">Thresholding</button>
                    </form>    
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider mt-3">

            <!-- Segmentation Menu -->
            <div class="sidebar-heading fs-10">
                RGB Table
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" data-target="#collapseUtilities">
                        <button id="showRgbTableButton" class="btn btn-outline-light btn-block mb-3 mt-1">Show RGB Table</button>
                </a>
            </li>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                                        <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="/about" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Aini Nurul Azizah</span>
                                <img class="img-profile rounded-circle"
                                    src="../static/img/aini.jpg">
                            </a>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Image Processing</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Uploaded Image -->
                        <div class="col-xl-5 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-3 font-weight-bold text-gray-800">Uploaded Image</div> 
                                            <img class="img-fluid mb-2" src="{{ url_for('static', filename=file_paths[0]) }}" alt="image here">   
                                            <p>Image Size : {{ lebar }} x {{ tinggi }} px</p>
                                            <script>
                                                document.addEventListener("DOMContentLoaded", function () {
                                               const image = document.querySelector(".img-fluid");
                                               const imageDimensions = document.getElementById("image-dimensions");
                                               const rgbTableBody = document.querySelector("#rgb-table tbody");
                                               const showRgbTableButton = document.getElementById("showRgbTableButton");
                                               const rgbTable = document.getElementById("rgb-table");
                                            
                                               // Wait for the image to load
                                               image.addEventListener("load", function () {
                                                 const width = this.width;
                                                 const height = this.height;
                                                 imageDimensions.innerText = `Image Dimensions: ${width} x ${height}`;
                                               });
                                            
                                               showRgbTableButton.addEventListener("click", function () {
                                                 // Toggle the visibility of the RGB table
                                                 rgbTable.classList.toggle("d-none");
                                            
                                                 if (!rgbTable.classList.contains("d-none")) {
                                                   // Get RGB values from the image when the table is visible
                                                   const canvas = document.createElement("canvas");
                                                   const context = canvas.getContext("2d");
                                                   context.drawImage(image, 0, 0, image.width, image.height);
                                                   const imageData = context.getImageData(0, 0, image.width, image.height).data;
                                            
                                                   // Check if the image is grayscale
                                                   let isGrayscale = true;
                                                   for (let i = 0; i < imageData.length; i += 4) {
                                                     const r = imageData[i];
                                                     const g = imageData[i + 1];
                                                     const b = imageData[i + 2];
                                                     if (r !== g || g !== b) {
                                                       isGrayscale = false;
                                                       break;
                                                     }
                                                   }
                                            
                                                   // Update the RGB table with values or display a message for grayscale images
                                                   if (isGrayscale) {
                                                     rgbTableBody.innerHTML = "";
                                                     rgbTableBody.innerHTML = `<tr><td colspan="3">This is a grayscale image.</td></tr>`;
                                                   } else {
                                                     rgbTableBody.innerHTML = "";
                                                     for (let i = 0; i < imageData.length; i += 4) {
                                                       const r = imageData[i];
                                                       const g = imageData[i + 1];
                                                       const b = imageData[i + 2];
                                            
                                                       const row = document.createElement("tr");
                                                       row.innerHTML = `<td>${r}</td><td>${g}</td><td>${b}</td>`;
                                                       rgbTableBody.appendChild(row);
                                                     }
                                                   }
                                                 }
                                               });
                                             });
                                            </script>
                                            <div class="p-2 flex-fill bd-highlight">
                                                <table id="rgb-table" class="table table-sm d-none">
                                                  <thead>
                                                    <tr>
                                                      <th>R</th>
                                                      <th>G</th>
                                                      <th>B</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <!-- RGB values will be inserted here -->
                                                  </tbody>
                                                </table>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Image Result -->
                        <div class="col-xl-6 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-3 font-weight-bold text-gray-800">Image Result</div> 
                                            <img class="img-fluid" src="{{ url_for('static', filename=file_paths[1]) }}" alt="image here">     
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-12 col-lg-10">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Histogram</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    
                                        {% if file_paths[3] %}
                                        <div class="col-md-6">
                                            <h3>Red Histogram</h3>
                                            <img class="img-fluid" src="{{ url_for('static', filename=file_paths[2]) }}" alt="image here">
                                        </div>
                                        <div class="col-md-6">
                                            <h3>Green Histogram</h3>
                                            <img class="img-fluid" src="{{ url_for('static', filename=file_paths[3]) }}" alt="image here">
                                        </div>
                                        <div class="col-md-6">
                                            <h3>Blue Histogram</h3>
                                            <img class="img-fluid" src="{{ url_for('static', filename=file_paths[4]) }}" alt="image here">
                                        </div>
                                        {% else %}
                                        <div class="col-md-6">
                                            <h3>Black Histogram</h3>
                                            <img class="img-fluid" src="{{ url_for('static', filename=file_paths[2]) }}" alt="image here">
                                        </div>
                                        {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Aini Nurul Azizah 2023 | Design By Bootstrap</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>